*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-container{
    background-color: black;
    height: 315px;
}
.nav-image{
    padding-top: 90px;
    margin-left: 180px;
}
.nav-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

